.navbar{
    box-shadow: 0px 2px 5px grey;
    height : 100px;
    display:flex;
    justify-content: space-between;
    
}

.navbar-brand {
    display: flex;
    font-size: 40px;
    padding-top:10px;
    font-weight: bolder;
}

.myimg{
    margin-left:-20px;
    margin-top: -20px;
    height:auto;
}

.span{
    color:red;
    text-decoration: solid;
}

.navbar-brand>img {
    padding: 2px; 
}

.nav-link{
    font-size:25px;
    justify-content: end;
    letter-spacing: 2px;
    font-weight: bold;
    position:relative;
}

.nav-link:hover{
    transform: scale(1.1);
}

.active{
    color:rgba(239, 43, 43, 0.937) !important;
    font-weight: bolder;
}

@media screen and (max-width:700px) {

    div#responsive-navbar-nav,button.navbar-toggler {
        background-color: rgba(233, 196, 196, 0.355);
    }
} 



