.search-box{
    position: relative;
    width:100%;
    margin-top: 30px;
    text-align: center;
    
}

.search-icon>svg{
 
    position:absolute;
    color:black;
    font-size: 30px;
    cursor: pointer;
    top:50%;
    right: 30%;
    transform: translate(100%, -50%);
    margin-right:0px;
  
}

.inputrecipe{
    padding-block : 15px;
    padding-left:15px;
    border-radius: 10px;
    border:none;
    outline: none;
    background: linear-gradient(35deg, rgb(216, 190, 190),rgb(185, 133, 133));
    width:45%;
    color:black;
    font-size: 30px;
    font-weight:bold;
}

